<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<div id="container"></div>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-gantt.min.js"></script>
<script>
    anychart.format.inputDateTimeFormat("mm:ss.SS");
    anychart.format.outputDateTimeFormat("mm:ss.SS");
    anychart.onDocumentReady(() => {
        const title = "{{title}}";
        const data = {{trace_data}}

        console.log('data', JSON.stringify(data))
        const treeData = anychart.data.tree(data, 'as-table');

        const chart = anychart.ganttResource();
        chart.getTimeline().header().format();
        const chartTitle = chart.title();
        chartTitle.enabled(true);
        chartTitle.text(title);
        chart.getTimeline().scale().zoomLevels([["second"]]);
        chart.container("container");
        chart.data(treeData);
        chart.draw();
        chart.fitAll();
    });
</script>
</body>
</html>
